GortKlaatu.Service/KlaatuService/Klaatu.Jobs/Connected Services/CxWsDataSvc/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59964/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59964/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="IService_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetActiveScans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveScans" />
  </wsdl:message>
  <wsdl:message name="IService_GetActiveScans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveScansResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetNonAuditorUsersWhoCanMarkNotExploitable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNonAuditorUsersWhoCanMarkNotExploitable" />
  </wsdl:message>
  <wsdl:message name="IService_GetNonAuditorUsersWhoCanMarkNotExploitable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNonAuditorUsersWhoCanMarkNotExploitableResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTeamName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamName" />
  </wsdl:message>
  <wsdl:message name="IService_GetTeamName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomFields" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetScanFailEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScanFailEmail" />
  </wsdl:message>
  <wsdl:message name="IService_GetScanFailEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScanFailEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetUserCantMarkNotExploitable_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserCantMarkNotExploitable" />
  </wsdl:message>
  <wsdl:message name="IService_SetUserCantMarkNotExploitable_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserCantMarkNotExploitableResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Initialize" message="tns:IService_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InitializeResponse" message="tns:IService_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveScans">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetActiveScans" message="tns:IService_GetActiveScans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetActiveScansResponse" message="tns:IService_GetActiveScans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNonAuditorUsersWhoCanMarkNotExploitable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetNonAuditorUsersWhoCanMarkNotExploitable" message="tns:IService_GetNonAuditorUsersWhoCanMarkNotExploitable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetNonAuditorUsersWhoCanMarkNotExploitableResponse" message="tns:IService_GetNonAuditorUsersWhoCanMarkNotExploitable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTeamName" message="tns:IService_GetTeamName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTeamNameResponse" message="tns:IService_GetTeamName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCustomFields" message="tns:IService_GetCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCustomFieldsResponse" message="tns:IService_GetCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScanFailEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetScanFailEmail" message="tns:IService_GetScanFailEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetScanFailEmailResponse" message="tns:IService_GetScanFailEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserCantMarkNotExploitable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetUserCantMarkNotExploitable" message="tns:IService_SetUserCantMarkNotExploitable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetUserCantMarkNotExploitableResponse" message="tns:IService_SetUserCantMarkNotExploitable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://tempuri.org/IService/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveScans">
      <soap:operation soapAction="http://tempuri.org/IService/GetActiveScans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNonAuditorUsersWhoCanMarkNotExploitable">
      <soap:operation soapAction="http://tempuri.org/IService/GetNonAuditorUsersWhoCanMarkNotExploitable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamName">
      <soap:operation soapAction="http://tempuri.org/IService/GetTeamName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomFields">
      <soap:operation soapAction="http://tempuri.org/IService/GetCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScanFailEmail">
      <soap:operation soapAction="http://tempuri.org/IService/GetScanFailEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserCantMarkNotExploitable">
      <soap:operation soapAction="http://tempuri.org/IService/SetUserCantMarkNotExploitable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:59964/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>